#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menu "NFC Support"

config LIBNFC
	bool "NFC library"
	default n
	---help---
		Enable or disable reader_hce.

config NFC_SEQUENCER
	bool "NFC Sequencer"
	default n
	---help---
		Enable or disable NFC sequencer.

endmenu # nfc Support
