CONFIG_BOARD_SPRESENSE=y
CONFIG_AUDIOUTILS_PLAYLIST_PLAYLISTFILE_MOUNTPT="/mnt/spif/PLAYLIST"
CONFIG_AUDIOUTILS_PLAYLIST_PLAYFILE_MOUNTPT="/mnt/spif/AUDIO"
CONFIG_AUDIOUTILS_DSP_MOUNTPT="/mnt/spif/BIN"
CONFIG_CXD56_I2C=y
CONFIG_CXD56_I2C0=y
CONFIG_CXD56_SPI=y
CONFIG_CXD56_SPI4=y
# CONFIG_CXD56_I2C0_SCUSEQ is not set
