CONFIG_BOARD_SPRESENSE=y
CONFIG_AUDIOUTILS_PLAYLIST_PLAYLISTFILE_MOUNTPT="/mnt/spif/PLAYLIST"
CONFIG_AUDIOUTILS_PLAYLIST_PLAYFILE_MOUNTPT="/mnt/spif/AUDIO"
CONFIG_AUDIOUTILS_DSP_MOUNTPT="/mnt/spif/BIN"
