
menuconfig ASMP
	bool "ASMP"
	help
		A hybrid multi processor framework

if ASMP
	config MM_TILE
	bool
	default y

	config ASMP_MEMSIZE
	hex "ASMP shared memory size"
	default 0x100000
	help
		Memory size for shared memory area in ASMP Framework.

endif
