#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

source modules/sensing/Kconfig
source modules/audio/Kconfig
source modules/memutils/Kconfig
source modules/asmp/Kconfig
source modules/lte/Kconfig
source modules/nfc/Kconfig
source modules/cmdfw/Kconfig
source modules/net/Kconfig
source modules/netutils/Kconfig
source modules/fwuputils/Kconfig
source modules/location/Kconfig
