[submodule "nuttx"]
	path = nuttx
	url = ../spresense-nuttx.git
[submodule "proprietary"]
	path = proprietary
	url = ../spresense-proprietary.git
[submodule "sdk/modules/dnnrt/src/externals/nnabla-c-runtime"]
	path = sdk/modules/dnnrt/externals/nnabla-c-runtime
	url = http://ml-git.ubiq.sony.co.jp/nnabla/nnabla-c-runtime.git
