#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menu "NET"

config NET_LWIP
	bool "Networking support"
	select CLOCK_MONOTONIC
	default n
	---help---
		Enable or disable all network features

endmenu # NET
