#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_LTE
	bool "LTE example"
	default n
	---help---
		Enable the LTE Interface

if EXAMPLES_LTE

config EXAMPLES_LTE_PROGNAME
	string "Program name"
	default "lte"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config EXAMPLES_LTE_PRIORITY
	int "LTE test task priority"
	default 100

config EXAMPLES_LTE_STACKSIZE
	int "LTE test stack size"
	default 2048

endif
