#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config NETUTILS_MQTT
	bool "MQTT support"
	default n
	select NET_LWIP
	---help---
		Enable or disable MQTT features


