#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menu "Spritzer Command Fw"

config CMDFW 
	bool "Spritzer Command utilities framework"
	default n
	select MEMUTILS_SIMPLE_FIFO
	select FWUPUTILS_MANAGER
	select FWUPUTILS_CLIENTS
	---help---

if CMDFW

config SPCOMMAND_ENABLE_CRCCHECK
    bool "Command FW CRC check enable"
    default n 
    ---help---

config SPCOMMAND_ENABLE_SEQNO
    bool "Command FW sequence number enable"
    default y
    ---help---

config SPCOMMAND_PACKET_BUFFER_SIZE
    hex "Size of buffer for store packet which would like to parse"
    default 0x1000
    ---help---

config SPCOMMAND_FWUPDATE_WORK_AREA_SIZE
	hex "FW download work memory size"
	default 0x10000
	---help---

config SPCOMMAND_FWUPDATE_PACKAGE_DIR
	string "FW package place directory"
	default "/mnt/spif" 
	---help---

config DEBUG_COMMANDFW
	bool "Command FW Debug"
	default n
	---help---

endif

endmenu # Command Fw
