#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_HTTPC
	bool "httpc example"
	default n
	select NETUTILS_HTTPC
	select NETUTILS_MBEDTLS
	---help---
		Enable the httpc Interface

if EXAMPLES_HTTPC

config EXAMPLES_HTTPC_PROGNAME
	string "Program name"
	default "httpc"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config EXAMPLES_HTTPC_PRIORITY
	int "httpc test task priority"
	default 100
	---help---
		This is task priority of httpc example

config EXAMPLES_HTTPC_STACKSIZE
	int "httpc test stack size"
	default 2048
	---help---
		This is task stack size of httpc example
endif
