#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config SENSING_TRAM
	bool "transport mode"
	default n
	select SENSING_MANAGER
	select SENSING_MANAGER_POWERCTRL
	---help---
		Enable support for transport mode.
